#details-main{
    width: 100vw;
    height: 100vh;
    background-image: url("https://user-images.githubusercontent.com/93372275/187626899-878e8da0-a34d-4a07-a9dd-64a9b67f1044.png");
}
#details-add-main{
    width: 100%;
    height: 20%;
}
#details-add-main-inner{
    width: 450px;
    height: 100%;
    margin: auto;
    display: flex;
    padding-top: 1%;
}
#details-add-main-inner #main-one{
    width: 40%;
    height: 90%;
    text-align: center;
    font-size: 68px;
    font-weight: bolder;
    color: #43bcd3;
}
#details-add-main-inner #main-two{
    width: 58%;
    height: 90%;
    margin: 0;
    padding: 0;
}
#details-add-main-inner #main-two h2{
    margin: 0;
    margin-top: 10px;
}
#details-add-main-inner #main-two p{
    margin: 0;
    font-size: 9px;
}
#details-info-main{
    height: 80%;
}
#details-info-main-cont{
    position: relative;
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    
}
#details-info-main-img{
    /* border: 2px solid blue; */
    width: 50%;
    height: 100%;
    position: relative;
}
#details-info-main-img>img{
    max-width: 100%;
    max-height: 100%;
}
#details-info-main-info{
    /* border: 2px solid blue; */
    width: 60%;
    height: 100%;
}
#details-info-main-info-sub{
    width: 90%;
    margin: auto;
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#details-info-main-info-sub #details-tag{
    width: 100%;
}
#details-info-main-info-sub #details-tag button{
    border: none;
    cursor: auto;
    background: #232323;
    color: white;
    display: inline-block;
    margin: 0;
    margin-right: 8px;
    border-radius: 12px;
    text-align: center;
    padding: 2px 10px;
}
#details-info-main-info-sub #details-name h2{
    margin: 0px;
}
#details-info-main-info-sub #price-qnt{
    display: flex;
    gap: 50px;
    margin-top: 0;
}
#details-info-main-info-sub #qnt{
    font-size: 22px;
    display: flex;
    height: 30px !important;
    justify-content: space-between;
    border: 2px solid gray;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    padding: 0px 20px;
}
#details-info-main-info-sub #qnt button{
    cursor: pointer;
}
#qnt-word{
    height: 30px !important;

}
#details-info-main-info-sub #qnt button{
    font-size: 22px;
    border: none;
    background: none;
}
#details-info-main-info-sub #price-qnt #price{
    margin: 0;
}
#details-btn{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#details-btn button{
    border: none;
    background: none; 
    width: 250px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0.4rem 0.4rem 0.7rem #c1c1c1, -0.3rem -0.3rem 0.6rem #fff !important;
}

#details-btn button:hover{
    background: #3db6cd;
    color: white;
}

#detail-visa{
    display: flex;
}
#detail-visa p{
    margin: 0;
    padding: 10px 0;
}
#detail-visa img{
    height: 40px;
}
#color-selector{
    border: none;
    background: #CACACA;
    height: 35px;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    /* display: flex; */
}
#color-text{
    margin: 0;
    padding: 0px 0px 5px 0px;
    font-size: 9px;
}
#color-selector div{
    cursor: pointer;
    display: inline-block;
    margin: 0px 3px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
#color-selector-main{
    position: absolute;
    bottom: 25%;
    right: 10%;
    transform: rotate(-90deg);
}
#faq-cont h4{
    margin: 0;
    padding: 0;
    color: #121212BF;
    font-weight: lighter;
}
#faq-cont h2{
    margin: 10px;
    padding: 0;
    color: #121212;
    font-weight: lighter;
}
#inner-circle{
    margin-left: -3px !important;
    margin-top: -3px !important;
     
    width: 25px !important;
    height: 25px !important;
}
#faq-cont{
    padding: 100px;
    width: 60%;
    margin: auto;
    /* border: 2px solid red; */
}
.faq-single-cont{
    width: 100%;
    /* border: 2px solid red; */
}
.faq-single-cont div{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.faq-cont-que{
    cursor: pointer;
}
#video-add-cont{
    position: relative;
    top: -100px;
    width: 85%;
    height: 200px;
    margin: auto;
    border-radius: 40px;
    background: #F9F8F9;
    display: flex;
    gap: 5%;
    justify-content: space-between;
    padding: 0px 30px;
    box-sizing: border-box;
}
#video-add-cont>div>div{
}
#img-div{
    position: relative;
}
#video-add-cont>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#video-add-cont img{
    width: 150px;
}
.top-add-text-color{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #3db6cd;
}
.top-add-text{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}
#big-text{
    font-size: 68px;
    font-weight: bolder;
    color: #3db6cd;

}
#video-add-cont>#add-one{
    width: 35%;
}
#video-add-cont>#add-two{
    width: 35%;
}
#video-add-cont>#add-three{
    width: 30%;
}
#cont-with-timer{
    width: 80%;
    height: 400px;
    margin: auto;
    border-radius: 40px;
    background: #F6F6F6;
}
#cont-with-timer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: skyblue;
    width: 95%;
    height: 60%;
    font-size: 24px;
}

#cont-with-timer-text h1{
    width: 350px;
    text-align: center;
}
#cont-with-timer-img{
    display: flex;
    width: 95%;
    height: 40%;
    justify-content: end;
    align-items: center;
    gap: 20%;
}
#join-text-img{
    display: flex;
    gap: 20px;
}
#join-text-img p{
    margin: 0;
    padding: 0;
}