.speaker
{
    text-align: left;
    background-color: #F4F4F4;
    padding-bottom: 4vw;
}
.speaker .mobile
{
    display: none;
}
.speaker  .header
{
    position: relative;
    z-index: 0;
}
.speaker .thumbnail-heading
{
    position: absolute;
    width: 20%;
    top:30%;
    left:8%;
    font-size: 8vw;
    color: white;
    line-height: 1.2;
    font-weight: bold;
}
.speaker  .main-container
{
    width: 80%;
    margin: auto;
}
.speaker .section-2
{
    background: white;
    border-radius: 3vw;
    width: 100%;
    margin-top: -4.5vw;
    padding: 2vw 4vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
    z-index: 2;
}

.speaker  .section-2 > div:nth-child(1) > div:nth-child(1)
{
    font-weight: bold;
    font-size: 4vw;
    line-height: 1.1;
}
.speaker  .section-2 > div:nth-child(1) > div:nth-child(2)
{
    color: #4D4D4D;
    padding: 2.5vw 0px 0.5vw 0px;
    font-size: 1.5vw;
    line-height: 1.7;
    letter-spacing: 0.5px;
}
.speaker  .section-2 > div:nth-child(2)
{
    text-align: center;
}
.speaker  .section-2 > div:nth-child(2) img
{
    width: 60%;
    margin-top: -5vw;
}
.speaker  .sub-heading
{
    text-transform:capitalize;
    font-weight: 700;
    padding: 20px;
    color: #222222;
    font-size: 1.7vw;
    letter-spacing: 1.5px;
}
.speaker  .product-container
{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "a b";
    gap: 2vw 1.5vw;
}
.speaker  .product-container img
{
    /* border: 1px solid red; */
height: 27vw;
width: 100%;
/* overflow: hidden; */
background-repeat: no-repeat;
background-size:contain;
object-fit: cover;
border-radius: 4vw;
background-position: center center;
position: relative;
    /* height: 50px; */
}
/* .product-container img{
    width: 100%;
} */
.speaker #prod-0{grid-area: a;}
.speaker #prod-1{grid-area: b;}
.speaker  .left
{
    position: absolute;
    bottom: 2.5vw;
    left: 2.2vw;
    /* height: 20px; */
    /* width: 60%; */
    max-width: 48%;
    color: rgb(37, 37, 37);
    background: rgb(196, 196, 196, 0.6);
    padding: 0.7vw;
    border-radius: 10px;
    line-height: 1.5;
}
.speaker .left div:nth-child(1)
{
    font-weight: bold;
    font-size: 1.5vw;
}
.speaker .left div:nth-child(2)
{
    font-size: 1.1vw;
}
.speaker  .left div:nth-child(3)
{
    font-weight: bold;
    letter-spacing: 1px;
}
.speaker  .left > div:nth-child(3) > span:nth-child(1)
{
    color:#333333;
    text-decoration: line-through;
}
.speaker  .right
{
    position: absolute;
    bottom: 2.5vw;
    right: 2.2vw;
    background: rgba(189, 189, 189, 0.8);
    padding:  15px 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.speaker .right > div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 0.2vw solid white;
} 
.speaker .strings-attached
    {
        background: rgb(73,141,205);
background: linear-gradient(90deg, rgba(73,141,205,1) 0%, rgba(153,211,247,1) 50%, rgba(73,141,205,1) 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
  
@media only screen and (max-width: 850px)
{
    .speaker  .desktop{
        display: none;
    }
    .speaker  .mobile{
        display: block;
    }
    .speaker  .main-container
    {
        width: 90%;
    }
    .speaker  .thumbnail-heading
    {
        top:75%;
    }
    
    .speaker  .section-2 > div:nth-child(1) > div:nth-child(1)
    {
        font-size: 6vw;
    }
    .speaker .section-2 > div:nth-child(1) > div:nth-child(2)
    {
        font-size: 3vw;
    }
    .speaker  .section-2 > div:nth-child(2) img
    {
        width: 80%;
    }
    .speaker .sub-heading
    {
        font-size: 4vw;
    }
    .speaker .product-container
    {
        grid-template-areas: 
        "a"
        "b"
        ;
    }
    .speaker .product-container img
    {
        height: 50vw;
    }
    .speaker  .left div:nth-child(1)
    {
        font-size: 3vw;
    }
    .speaker  .left div:nth-child(2)
    {
        font-size: 2.5vw;
    }
}