.wired
{
    text-align: left;
    background-color: #F4F4F4;
    padding-bottom: 4vw;
}
.wired .mobile
{
    display: none;
}
.wired  .header
{
    position: relative;
    z-index: 0;
}
.wired .thumbnail-heading
{
    position: absolute;
    width: 20%;
    top:30%;
    left:8%;
    font-size: 8vw;
    color: white;
    line-height: 1.2;
    font-weight: bold;
}
.wired  .main-container
{
    width: 80%;
    margin: auto;
}
.wired .section-2
{
    background: white;
    border-radius: 3vw;
    width: 100%;
    margin-top: -4.5vw;
    padding: 2vw 4vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
    z-index: 2;
}

.wired  .section-2 > div:nth-child(1) > div:nth-child(1)
{
    font-weight: bold;
    font-size: 4vw;
    line-height: 1.1;
}
.wired  .section-2 > div:nth-child(1) > div:nth-child(2)
{
    color: #4D4D4D;
    padding: 2.5vw 0px 0.5vw 0px;
    font-size: 1.5vw;
    line-height: 1.7;
    letter-spacing: 0.5px;
}
.wired  .section-2 > div:nth-child(2)
{
    text-align: center;
}
.wired  .section-2 > div:nth-child(2) img
{
    width: 60%;
    margin-top: -5vw;
}
.wired  .sub-heading
{
    text-transform:capitalize;
    font-weight: 700;
    padding: 20px;
    color: #222222;
    font-size: 1.7vw;
    letter-spacing: 1.5px;
}
.wired  .product-container
{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "a b c c"
    "d d e f";
    gap: 2vw 1.5vw;
}
.wired  .product-container img
{
    /* border: 1px solid red; */
height: 27vw;
width: 100%;
/* overflow: hidden; */
background-repeat: no-repeat;
background-size:contain;
object-fit: cover;
border-radius: 4vw;
background-position: center center;
position: relative;
    /* height: 50px; */
}
/* .product-container img{
    width: 100%;
} */
.wired #prod-0{grid-area: a;}
.wired #prod-1{grid-area: b;}
.wired #prod-2{grid-area: c;}
.wired #prod-3{grid-area: d;}
.wired #prod-4{grid-area: e;}
.wired #prod-5{grid-area: f;}
.wired #prod-6{grid-area: g;}
.wired #prod-7{grid-area: h;}

.wired  .left
{
    position: absolute;
    bottom: 2.5vw;
    left: 2.2vw;
    /* height: 20px; */
    /* width: 60%; */
    max-width: 48%;
    color: rgb(37, 37, 37);
    background: rgb(196, 196, 196, 0.6);
    padding: 0.7vw;
    border-radius: 10px;
    line-height: 1.5;
}
.wired .left div:nth-child(1)
{
    font-weight: bold;
    font-size: 1.5vw;
}
.wired .left div:nth-child(2)
{
    font-size: 1.1vw;
}
.wired  .left div:nth-child(3)
{
    font-weight: bold;
    letter-spacing: 1px;
}
.wired  .left > div:nth-child(3) > span:nth-child(1)
{
    color:#333333;
    text-decoration: line-through;
}
.wired  .right
{
    position: absolute;
    bottom: 2.5vw;
    right: 2.2vw;
    background: rgba(189, 189, 189, 0.8);
    padding:  15px 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.wired .right > div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 0.2vw solid white;
} 
.wired .strings-attached
    {
        background: rgb(73,141,205);
background: linear-gradient(90deg, rgba(73,141,205,1) 0%, rgba(153,211,247,1) 50%, rgba(73,141,205,1) 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    .wired .features-section > div:nth-child(1)
    {
        grid-area: fs-a;
    }
    .wired .features-section > div:nth-child(2)
    {
        grid-area: fs-b;
    }
    .wired .features-section > div:nth-child(3)
    {
        grid-area: fs-c;
    }
    .wired .features-section
    {
        width: 100%;
        display: grid;
        grid-template-areas: "fs-a fs-a fs-b fs-c";
        gap: 1.5vw;
        margin: 4vw 0vw;
    }
    .wired .features-section > div{
        height: 25vw;
        background-repeat: no-repeat;
        background-size:cover;
        border-radius: 4vw;
        background-position: center center;
        position: relative;
    }
    .wired .features-section p{
       position: absolute;
       top: 50%;
       width: 100%;
       text-align: center;
       transform: translateY(-80%);
       box-sizing: border-box;
       padding: 0px 1vw;
        color: white;
        font-size: 2.3vw;
    }
@media only screen and (max-width: 850px)
{
    .wired  .desktop{
        display: none;
    }
    .wired  .mobile{
        display: block;
    }
    .wired  .main-container
    {
        width: 90%;
    }
    .wired  .thumbnail-heading
    {
        top:75%;
    }
    
    .wired  .section-2 > div:nth-child(1) > div:nth-child(1)
    {
        font-size: 6vw;
    }
    .wired .section-2 > div:nth-child(1) > div:nth-child(2)
    {
        font-size: 3vw;
    }
    .wired  .section-2 > div:nth-child(2) img
    {
        width: 80%;
    }
    .wired .sub-heading
    {
        font-size: 4vw;
    }
    .wired .product-container
    {
        grid-template-areas: 
        "a b"
        "a b"
        "c c"
        "e f"
        "e f"
        "d d"
        ;
    }
    .wired .product-container img
    {
        height: 40vw;
    }
    .wired  .left div:nth-child(1)
    {
        font-size: 3vw;
    }
    .wired  .left div:nth-child(2)
    {
        font-size: 2.5vw;
    }
    .wired .features-section
    {
        grid-template-areas: "fs-a fs-a" "fs-b fs-c";
        margin: 2vw 0vw;
    }
    .wired .features-section > div{
        height: 40vw;
    }
    .wired .features-section p
    {
        font-size: 3.5vw;
    }
}