*{
    
   object-fit: cover;
}

#neacknandgrid .Cont1{
    display: grid;
    width: 80%;
    margin: auto;
    height: 500px;
    grid-template-areas: 
     "a a b b"
     "a a b b";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */

}
#neacknandgrid .item1{
    grid-area: a;
    margin-top: 48px;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255261-ed114201-afa6-428c-b625-24b3475a84e9.png");
    border-radius: 20px;
}
#neacknandgrid .item2{
    grid-area: b;
    background-color: white;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255246-ed0634ee-3097-4fdc-add0-11b0d002cf19.png");
    border-radius: 20px;
}
#neacknandgrid .Cont2{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 600px;
    grid-template-areas: 
     "a a a b b b b"
     "a a a b b b b";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
   

}
#neacknandgrid .item3{
    grid-area: a;
    background-color: #F3F3F3;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255267-89fbc07c-d61a-4430-9b1e-dd882c4f1d05.png");
    border-radius: 20px;
}
#neacknandgrid .item4{
    grid-area: b;
    background-color: antiquewhite;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255281-b76d11e3-73ea-4538-b590-1fbcfdf8538f.png");
    border-radius: 20px;
}
#neacknandgrid .Cont3{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 400px;
    grid-template-areas: 
     "a a a b c"
     "a a a d d";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
}
#neacknandgrid .item5{
    grid-area: a;
    background-color: aquamarine;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255583-f2bf3420-3515-42c7-9c2f-1273701d6d4f.png");
    border-radius: 20px;
}
#neacknandgrid .item6{
    grid-area: b;
    background-color: antiquewhite;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255584-27a32c43-eae0-4328-b3ab-58c574bb4add.png");
    border-radius: 20px;
}
#neacknandgrid .item7{
    grid-area: c;
    background-color: rgb(80, 141, 37);
    background-image: url("https://user-images.githubusercontent.com/93372275/188255588-6ad17d84-5e7d-45f2-b963-49b3f7422676.png");
    border-radius: 20px;
}
#neacknandgrid .item8{
    grid-area: d;
    background-color: rgb(196, 193, 17);
    background-image: url("https://user-images.githubusercontent.com/93372275/188255590-36c75515-0eee-4f1f-86d3-d6b49a879a47.png");
    border-radius: 20px;
}
#neacknandgrid .bigImg{
    width: 100%;
    height: 600px;
    margin-top: 10px;
    background-color: white;
    /* background-image: url("https://user-images.githubusercontent.com/93372275/188255793-f14e9fdc-e962-423e-ae92-afaeb407a3b6.png"); */
    object-fit: cover;

    border: 2px solid red;
}
#neacknandgrid .Cont4{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 400px;
    grid-template-areas: 
     "a b b b"
     "a b b b";
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
}
#neacknandgrid .item9{
    grid-area: a;
    background-color: white;
    background-image: url("https://user-images.githubusercontent.com/93372275/188256053-5550c926-01dc-4dfe-8f59-2ac33b89ba46.png");
    border-radius: 20px 0 0 20px;
}
#neacknandgrid .item10{
    grid-area: b;
    background-color: antiquewhite;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255857-90218c3c-40ef-4219-aeb6-d1dd664ea6dd.png");
    border-radius: 0 20px 20px 0;
}
#neacknandgrid .Cont5{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 600px;
    grid-template-areas: 
     "a b"
     "a b";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
   

}
#neacknandgrid .item11{
    grid-area: a;
    background-color: rgb(133, 160, 64);
    background-image: url("https://user-images.githubusercontent.com/93372275/188255882-3b1ac72b-6ad5-4179-8688-ce5cdd58a204.png");
    border-radius: 20px;
}
#neacknandgrid .item12{
    grid-area: b;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255797-db91e697-f6e2-470d-8cc3-9d20a3477501.png");
    border-radius: 20px;
}