*{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#speakergrid .Cont1{
    display: grid;
    width: 80%;
    margin: auto;
    height: 500px;
    grid-template-areas: 
     "a a b b"
     "a a b b";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */

}
#speakergrid .item1{
    grid-area: a;
    margin-top: 48px;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264818-277a2d7d-ff37-4e15-9554-c871f5063d3a.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#speakergrid .item2{
    grid-area: b;
    background-color: white;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264820-a7bab455-df1f-42e5-8ad7-662cd3ce6588.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#speakergrid .Cont2{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 600px;
    grid-template-areas: 
     "a a a b b b b"
     "a a a b b b b";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
   

}
#speakergrid .item3{
    grid-area: a;
    background-color: #F3F3F3;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264822-e50d260f-2c08-4830-a894-a62757b4b56f.png");
    border-radius: 20px;
}
#speakergrid .item4{
    grid-area: b;
    background-color: antiquewhite;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264831-ccf06f39-73ec-4ca6-9b21-7a36b5da1f86.png");
    border-radius: 20px;
}
#speakergrid .Cont3{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 400px;
    grid-template-areas: 
     "a a a b c"
     "a a a d d";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
}
#speakergrid .item5{
    grid-area: a;
    background-color: aquamarine;
    background-image: url("https://user-images.githubusercontent.com/93372275/188265390-c732a3a3-b7a7-45de-914a-54245f63aa54.png");
    border-radius: 20px;
}
#speakergrid .item6{
    grid-area: b;
    background-color: antiquewhite;
    background-image: url("https://user-images.githubusercontent.com/93372275/188265388-1a8d36f9-37de-479a-9c91-781cd37e51a9.png");
    border-radius: 20px;
}
#speakergrid .item7{
    grid-area: c;
    background-color: rgb(80, 141, 37);
    background-image: url("https://user-images.githubusercontent.com/93372275/188265385-e9caa054-0a45-4150-8b6f-965465ae621d.png");
    border-radius: 20px;
}
#speakergrid .item8{
    grid-area: d;
    background-color: rgb(196, 193, 17);
    background-image: url("https://user-images.githubusercontent.com/93372275/188265382-1fbd0a6b-33a7-4bc0-8e14-3cc872924927.png");
    border-radius: 20px;
}
#speakergrid .bigImg{
    width: 100%;
    height: 600px;
    margin-top: 10px;
    background-color: white;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255793-f14e9fdc-e962-423e-ae92-afaeb407a3b6.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#speakergrid .Cont4{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 400px;
    grid-template-areas: 
     "a b b b"
     "a b b b";
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
}
#speakergrid .item9{
    grid-area: a;
    background-color: white;
    background-image: url("https://user-images.githubusercontent.com/93372275/188256053-5550c926-01dc-4dfe-8f59-2ac33b89ba46.png");
    border-radius: 20px 0 0 20px;
}
#speakergrid .item10{
    grid-area: b;
    background-color: antiquewhite;
    background-image: url("https://user-images.githubusercontent.com/93372275/188255857-90218c3c-40ef-4219-aeb6-d1dd664ea6dd.png");
    border-radius: 0 20px 20px 0;
}
#speakergrid .Cont5{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 600px;
    grid-template-areas: 
     "a b"
     "a b";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
   

}
#speakergrid .item11{
    grid-area: a;
    background-color: rgb(133, 160, 64);
    background-image: url("https://user-images.githubusercontent.com/93372275/188265177-01a13d9f-0940-46f8-bbad-8e3395d1f288.png");
    border-radius: 20px;
}
#speakergrid .item12{
    grid-area: b;
    background-image: url("https://user-images.githubusercontent.com/93372275/188265183-6e4dbe25-e814-4219-bb8a-b304bf9c55ad.png");
    border-radius: 20px;
}