*{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#twsgrid .Cont1{
    display: grid;
    width: 80%;
    margin: auto;
    height: 500px;
    grid-template-areas: 
     "a a b b"
     "a a b b";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */

}
#twsgrid .item1{
    grid-area: a;
    margin-top: 48px;
    background-image: url("https://user-images.githubusercontent.com/93372275/188263596-a348a099-31c2-4f5e-bcdb-9cd018efcd6b.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#twsgrid .item2{
    grid-area: b;
    background-color: white;
    background-image: url("https://user-images.githubusercontent.com/93372275/188263598-a7371340-50fa-4a9c-98e2-7c52d2740f27.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#twsgrid .Cont2{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 600px;
    grid-template-areas: 
     "a a a b b b b"
     "a a a b b b b";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
   

}
#twsgrid .item3{
    grid-area: a;
    background-color: #F3F3F3;
    background-image: url("https://user-images.githubusercontent.com/93372275/188263599-4d43bd5f-db89-4d6c-abcf-e63e14d0514d.png");
    border-radius: 20px;
}
#twsgrid .item4{
    grid-area: b;
    background-color: antiquewhite;
    background-image: url("https://user-images.githubusercontent.com/93372275/188263604-9b1d4c02-1cef-419f-81a2-36f53003050f.png");
    border-radius: 20px;
}
#twsgrid .Cont3{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 400px;
    grid-template-areas: 
     "a a a b c"
     "a a a d d";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
}
#twsgrid .item5{
    grid-area: a;
    background-color: aquamarine;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264061-fcdfe1e2-a70e-40d3-95fa-d0289856272f.png");
    border-radius: 20px;
}
#twsgrid .item6{
    grid-area: b;
    background-color: antiquewhite;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264062-ddf60a9a-7e42-44be-960d-9a8925155d04.png");
    border-radius: 20px;
}
#twsgrid .item7{
    grid-area: c;
    background-color: rgb(80, 141, 37);
    background-image: url("https://user-images.githubusercontent.com/93372275/188264064-a10d720b-4cca-461b-85e3-1f69cf0111ed.png");
    border-radius: 20px;
}
#twsgrid .item8{
    grid-area: d;
    background-color: rgb(196, 193, 17);
    background-image: url("https://user-images.githubusercontent.com/93372275/188264059-6c2c9200-b854-4582-b541-3fe0dc9e8949.png");
    border-radius: 20px;
}
#twsgrid .bigImg{
    width: 100%;
    height: 600px;
    margin-top: 10px;
    background-color: white;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264176-91fc1d67-fefc-41d5-bf0b-7d5128b91a67.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#twsgrid .Cont4{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 400px;
    grid-template-areas: 
     "a b b b"
     "a b b b";
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
}
#twsgrid .item9{
    grid-area: a;
    background-color: white;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264379-59aa8307-5374-4817-9add-7efc066af510.png");
    border-radius: 20px 0 0 20px;
}
#twsgrid .item10{
    grid-area: b;
    background-color: antiquewhite;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264578-2be0ef95-1502-41dc-9e48-31ac316bc30b.png");
    border-radius: 0 20px 20px 0;
}
#twsgrid .Cont5{
    padding-top: 10px;
    display: grid;
    width: 80%;
    margin: auto;
    height: 600px;
    grid-template-areas: 
     "a b"
     "a b";
     gap: 10px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 400px; */
   

}
#twsgrid .item11{
    grid-area: a;
    background-color: rgb(133, 160, 64);
    background-image: url("https://user-images.githubusercontent.com/93372275/188264383-db797c8e-2b0d-4136-a23b-390d369f3e77.png");
    border-radius: 20px;
}
#twsgrid .item12{
    grid-area: b;
    background-image: url("https://user-images.githubusercontent.com/93372275/188264381-7ace39ca-6d04-41f3-a0fa-ec92337bb2b9.png");
    border-radius: 20px;
}