#user-main{
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
    padding: 5% 5%;

}
#user-main>div{
    height: 100%;
}
#user-main-first{
    width: 25%;
}
#user-main-second{
    width: 70%;
    height: 100%;
}
#user-main-first> #details{
    padding-left:8%;
    background: #dddada;
    border-radius: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    cursor: pointer;
}
#user-main-first> #details :hover{
    color: #3997A7;
}
#user-main-first> #details>div{
    display: flex;
    gap: 8%;
}
#user-main-second > #user{
    border-radius: 30px;
    color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
}
#one{
    height: 10%;
    background: #3b98a9;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user > #two{
    height: 60%;
    background-image: url("https://cdn.shopify.com/s/files/1/0548/8849/7221/files/account-dp-bg.jpg?v=1641807819");
    display: flex;
    justify-content: center;
    align-items: center;
}
#user > #two>div{
    display: flex;
    flex-direction: column;
}
#user > #three{
    height: 30%;
    background: #dddada;
    border-radius: 0px 0px 30px 30px ;
}

@media screen and (max-width:855px){
    #user-main{
        width: 95vw;
        height: auto;
        padding: 0%;
        flex-direction: column;
    }
    #user-main-first> #details{
        width: 100%;
        margin: 0;
        flex-direction: row;
        align-items: center;
        height: 90px;
        position: fixed;
        bottom: 0%;
        cursor: pointer;
    }
    
    #user-main-first> #details>div{

        width: 20%;
    }
    #user-main-first{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #user-main-second{
        margin-bottom: 300px;
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }
    #footer-bottom{
        margin-bottom: 120px;
    }
}