.slider
{
    background: rgb(18,137,159);
background: linear-gradient(90deg, rgba(18,137,159,1) 0%, rgba(43,203,233,1) 50%, rgba(18,137,159,1) 100%);
color: white;
text-align: center;
width: 100%;
padding: 8px 0px;
font-weight: bold;
font-size: 14px;
}
.slider div{
    animation: sliderAnm 2s linear infinite;
}
@keyframes sliderAnm {
    0%{
        transform: translateX(0%);
    }
    50%
    {
        transform: translateX(0%);
    }
    75%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
#navbar
{
    background-color: #363636;
    color: #CACACA;
    width: 100%;
    padding: 5px 4%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#navbar .links
{
    display: flex;
    width: 80%;
    gap: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#navbar .links img{
    height: 60px;
}
#navbar .links > div:nth-child(2)
{
    display: flex;
    gap: 20px;
    font-size: 12px;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
}
#navbar .icons
{
    display: flex;
    gap: 25px;
    font-size: 24px;
    padding: 20px 0px;
}
#navbar .icons *{
    transition: 300ms;
}
#navbar .icons *:hover
{
    cursor: pointer;
    transform: scale(1.08);
}